﻿@page "/DeletUser/{id}"

@using Bank.Data
@inject Infrastructure.UserService UserService
@inject NavigationManager NavigationManager
@inject Infrastructure.StatusUserService StatusUserService

<h2>Delete?</h2>
<div class="row">
    <div col-md-8>
        <div class="form-group">
            <label>First name</label>
            <label>@user.FirstName</label>
        </div>

        <div class="form-group">
            <label>Surname</label>
            <label>@user.SurName</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-danger" @onclick="@DeleteUser" value="Delete" />
            <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Save" />
        </div>
    </div>

</div>

@code {
    [Parameter]
    public string id { get; set; }

    Domain.User user = new Domain.User();
    List<Domain.StatusUser> statusUser = new List<Domain.StatusUser>();

    protected override async Task OnInitializedAsync()
    {
        user = await Task.Run(() => UserService.Get(Convert.ToInt32(id)));
        statusUser = await Task.Run(() => StatusUserService.GetStatusUser().ToList());

    }

    protected void DeleteUser()
    {
        UserService.Delete(Convert.ToInt32(id));
        UserService.Save();
        NavigationManager.NavigateTo("User");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("User");
    }
}
