﻿@page "/EditUser/{id}"

@using Bank.Data
@inject Infrastructure.UserService UserService
@inject NavigationManager NavigationManager
@inject Infrastructure.StatusUserService StatusUserService

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="custom-control-label">First name</label>
                <input form="Name" class="form-control" @bind="@user.FirstName" />
            </div>

            <div class="form-group">
                <label for="Name" class="custom-control-label">Surname</label>
                <input form="Name" class="form-control" @bind="@user.SurName" />
            </div>

            <div class="form-group">
                <label for="Name" class="custom-control-label">Phone</label>
                <input form="Name" class="form-control" @bind="@user.Phone" />
            </div>

            <div class="form-group">
                <label for="Name" class="custom-control-label">Password</label>
                <input form="Name" class="form-control" @bind="@user.Password" />
            </div>

            <div class="form-group">
                <label for="Name" class="custom-control-label">Status user</label>
                <select class="form-control" @bind=@StatusUserId>
                    @foreach (var item in statusUser)
                    {
                        <option value="@item.Id">@item.Description</option>

                    }
                </select>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateUser" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>

    </div>

</form>

@code {
    [Parameter]
    public string id { get; set; }

    int StatusUserId = 1;

    Domain.User user = new Domain.User();
    List<Domain.StatusUser> statusUser = new List<Domain.StatusUser>();

    protected override async Task OnInitializedAsync()
    {
        user = await Task.Run(() => UserService.Get(Convert.ToInt32(id)));
        statusUser = await Task.Run(() => StatusUserService.GetStatusUser().ToList());

    }

    protected void UpdateUser()
    {
        user.StatusUserId = StatusUserId;
        UserService.Update(user);
        UserService.Save();
        NavigationManager.NavigateTo("User");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("User");
    }
}