﻿@page "/user"

@using Bank.Data
@inject Infrastructure.UserService UserService
@inject Infrastructure.StatusUserService StatusUserService
@inject Infrastructure.AccountService AccountService

<NavLink class="nav-link" href="AddUser">
    <spa class="oi oi-plus" arial-hidden="true">Add</spa>
</NavLink>

<h1>User information</h1>
@if (ObjUser == null)
{
    <p><em>Loading</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Surname</th>
                <th>Phone</th>
                <th>Registration Date</th>
                <th>Status User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in ObjUser)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.SurName</td>
                    <td>@user.Phone</td>
                    <td>@user.RegistrationDate</td>
                    <td>@user.StatusUser.Description </td>
                    <td>
                        <a class="nav-link" href="EditUser/@user.Id">
                            <span class="oi oi-pencil" arial-hidden="true"></span> Edit
                        </a>

                        <a class="nav-link" href="DeletUser/@user.Id">
                            <span class="oi oi-trash" arial-hidden="true"></span> Delete
                        </a>

                        <a class="nav-link" href="Account/@user.Id">
                            <span class="oi oi-credit-card" arial-hidden="true"></span> Account
                        </a>

                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code
{
    IEnumerable<Domain.User> ObjUser;
    IEnumerable<Domain.StatusUser> ObjStatus;
    protected override async Task OnInitializedAsync()
    {
        ObjStatus = await Task.Run(() => StatusUserService.GetStatusUser().ToList());
        ObjUser = await Task.Run(() => UserService.GetUser());

    }
}
