﻿@page "/AddStatus"
@using Bank.Data
@using System.Globalization;
@inject NavigationManager NavigationManager
@inject Infrastructure.StatusUserService StatusUserService

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="custom-control-label">Description</label>
                <input form="Name" class="form-control" @bind="@status.Description" />
            </div>
       
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateUser" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>

    </div>

</form>


@code {

    Domain.StatusUser status = new Domain.StatusUser();


    protected void CreateUser() 
    {

        StatusUserService.Add(status);
        StatusUserService.Save();
        NavigationManager.NavigateTo("Status");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("Status/");
    }

}