﻿@page "/DeletStatus/{id}"

@using Bank.Data
@inject NavigationManager NavigationManager
@inject Infrastructure.StatusUserService StatusUserService

<h2>Delete?</h2>
<div class="row">
    <div col-md-8>
        <div class="form-group">
            <label>Description</label>
            <label>@statusUser.Description</label>
        </div>  
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-danger" @onclick="@DeletStatus" value="Delete" />
            <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Save" />
        </div>
    </div>

</div>

@code {
    [Parameter]
    public string id { get; set; }

    Domain.StatusUser statusUser  = new Domain.StatusUser();

    protected override async Task OnInitializedAsync()
    {
        statusUser = await Task.Run(() => StatusUserService.Get(Convert.ToInt32(id)));
    }

    protected void DeletStatus()
    {
        StatusUserService.Delete(Convert.ToInt32(id));
        StatusUserService.Save();
        NavigationManager.NavigateTo("Status");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("UserStatus");
    }
}
