﻿@page "/EditStatus/{id}"

@using Bank.Data
@inject NavigationManager NavigationManager
@inject Infrastructure.StatusUserService StatusUserService

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="custom-control-label">Description</label>
                <input form="Name" class="form-control" @bind="@statusUser.Description" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Upadate" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>

    </div>

</form>

@code {
    [Parameter]
    public string id { get; set; }

    Domain.StatusUser statusUser  = new Domain.StatusUser();

    protected override async Task OnInitializedAsync()
    {
        statusUser = await Task.Run(() => StatusUserService.Get(Convert.ToInt32(id)));
    }


    protected void Upadate()
    {
        StatusUserService.Update(statusUser);
        StatusUserService.Save();
        NavigationManager.NavigateTo("Status");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("Status");
    }

}