﻿@page "/Status/"

@using Bank.Data
@inject Infrastructure.StatusUserService StatusUserService

<NavLink class="nav-link" href="AddStatus">
    <spa class="oi oi-plus" arial-hidden="true">Add</spa>
</NavLink>

<h1>Status information</h1>
@if (ObjStatus == null)
{
    <p><em>Loading</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var status in ObjStatus)
            {
                <tr>
                    <td>@status.Description</td>                    
                    <td>
                        <a class="nav-link" href="EditStatus/@status.Id">
                            <span class="oi oi-pencil" arial-hidden="true"></span> Edit
                        </a>

                        <a class="nav-link" href="DeletStatus/@status.Id">
                            <span class="oi oi-trash" arial-hidden="true"></span>Delete
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code
{
    IEnumerable<Domain.StatusUser> ObjStatus;
    protected override async Task OnInitializedAsync()
    {
        ObjStatus = await Task.Run(() => StatusUserService.GetStatusUser());

        var aa = ObjStatus.ToList();

    }
}
