﻿@page "/AddOperation/"

@using Bank.Data
@using System.Globalization;
@inject NavigationManager NavigationManager
@inject Infrastructure.OperationService operationService


<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="custom-control-label">Operation Type</label>
                <input form="Name" class="form-control" @bind="@operationType.Description" />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateOperation" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>

    </div>

</form>

@code {

    Domain.OperationType operationType = new Domain.OperationType();

    protected void CreateOperation()
    {

        operationService.Add(operationType);
        operationService.Save();
        NavigationManager.NavigateTo("Operation");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("Operation");
    }
}