﻿@page "/operation/"

@using Bank.Data
@inject Infrastructure.OperationService operationService

<NavLink class="nav-link" href="AddOperation">
    <spa class="oi oi-plus" arial-hidden="true">Add</spa>
</NavLink>

<h1>Status information</h1>
@if (Objoperation == null)
{
    <p><em>Loading</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var operation in Objoperation)
            {
                <tr>
                    <td>@operation.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    IEnumerable<Domain.OperationType> Objoperation;
    protected override async Task OnInitializedAsync()
    {
        Objoperation = await Task.Run(() => operationService.GetOperationType());

    }
}
