﻿@page "/Account/{id}"

@using Bank.Data
@inject Infrastructure.AccountService AccountService
@inject Infrastructure.UserService UserService
@inject NavigationManager NavigationManager


<a class="nav-link" href="#" @onclick="(() => CreateAccount(user.Id))">
    <span class="oi oi-credit-card" arial-hidden="true"></span> Add Account
</a>

<h1>User account @user.FirstName</h1>
@if (Objaccount == null)
{
    <p><em>Loading</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Opening date</th>
                <th>Cash All</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Objaccount)
            {
                <tr>
                    <td>@account.OpeningDate</td>
                    <td>@account.CashAll</td>
                    <td>
                        <a class="nav-link" href="Refill/@account.Id">
                            <span class="oi oi-plus" arial-hidden="true"></span> Refill
                        </a>

                        <a class="nav-link" href="Take/@account.Id">
                            <span class="oi oi-minus" arial-hidden="true"></span> Take
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code
{
    [Parameter]
    public string id { get; set; }

    Domain.User user = new Domain.User();

    IEnumerable<Domain.Account> Objaccount;
    protected override async Task OnInitializedAsync()
    {
        user = await Task.Run(() => UserService.Get(Convert.ToInt32(id)));
        Objaccount = await Task.Run(() => AccountService.GetAccount());

    }

    protected void CreateAccount(int id)
    {
        Domain.Account account = new Domain.Account()
        {
            CashAll = 0,
            OpeningDate = DateTime.Now,
            UserId = id

        };

        AccountService.Add(account);
        AccountService.Save();

        NavigationManager.NavigateTo("Account/" + id);

    }
}
