﻿@page "/Refill/{id}"

@using Bank.Data
@inject Infrastructure.AccountService AccountService
@inject Infrastructure.UserService UserService
@inject Infrastructure.HistoryService HistoryService
@inject Infrastructure.OperationService OperationService;
@inject NavigationManager NavigationManager

<div class="form-group">
    <label>Cash</label>
    <div>
        <input class="form-control" @bind="@cash" />
    </div>
</div>
<button class="btn btn-success" typeof="submit" @onclick="RefillCash">OK</button>

@code {
    [Parameter]
    public string id { get; set; }

    private decimal cash = 0;


    Domain.Account account = new Domain.Account();
    List<Domain.OperationType> operationType = new List<Domain.OperationType>();

    protected override async Task OnInitializedAsync()
    {

        account = await Task.Run(() => AccountService.Get(Convert.ToInt32(id)));
        operationType = await Task.Run(() => OperationService.GetOperationType().ToList());

    }

    private void RefillCash()
    {
        if (operationType.Where(o => o.Description == "Refill").Count() == 0)
        {
            Domain.OperationType Type = new Domain.OperationType
            {
                Description = "Refill"
            };
            OperationService.Add(Type);
            OperationService.Save();
        }


        Domain.OperationHistory operationHistory = new Domain.OperationHistory()
        {
            OperationDate = DateTime.Now,
            OperationTypeId = operationType.Where(o => o.Description == "Refill").FirstOrDefault().Id,
            CashSum = cash,
            AccountId = account.Id
        };

        account.CashAll += cash;
        AccountService.Update(account);
        AccountService.Save();

        HistoryService.Add(operationHistory);
        HistoryService.Save();

        NavigationManager.NavigateTo("Account/" + account.UserId);
    }
}
